.main{
  margin-top: 4.5rem;
  margin-left: .5rem;
  margin-right: .5rem;

  @include laptop{
    margin-top: 4rem;
  }

  @include tablet{
    margin-top: 3.5rem;
  }

  .hero{

    &__paragraph{
      grid-column: 1 / 4;
      display: flex;
      gap: 0 .5rem;

      &__icon{
        margin-top: .5rem;
        width: .7rem;
        height: .8rem;
        flex-shrink: 0;
      }

      &__inner{
        display: flex;
        flex-direction: column;
        gap: .5rem 0;
      }
    }

    &__information{
      grid-column: 5 / -1;
      padding-bottom: 2.5rem;

      &__description{
        margin: 1.5rem 0 2rem 0;
        max-width: 28.25rem;
        opacity: .7;
      }
    }
  }

  .main-image{
    margin-top: .5rem;
    width: 100%;
    height: 47.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container-main__inner{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: 10rem 0;
  }

  .customer-focus{

    &__paragraph{
      grid-column: 1 / 4;

      &__image{
        margin-bottom: 1.5rem;
        width: 100%;
        height: 18.9rem;
        border-radius: 10px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &__title{
        margin-bottom: .5rem;
      }

      &__description{
        max-width: 18.5rem;
      }
    }

    &__information{
      grid-column: 7 / -1;

      &__description{
        margin: 1.5rem 0 2rem 0;
        max-width: 31rem;
        opacity: .7;
      }
    }
  }

  .advantages{

    &__information{
      grid-column: 1 / 5;
      max-width: 90%;

      &__description{
        margin: 1.5rem 0 2.5rem 0;
        max-width: 21.7rem;
        opacity: .7;
      }

      &__navigation{
        display: flex;
        align-items: center;
        gap: 0 .5rem;
      }
    }

    &__gallery{
      grid-column: 7 / -1;
      width: calc(100% + 2.5rem);
      position: relative;
      min-height: 46rem;

      .swiper{
        height: 100%;
      }

      &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.last{

          .advantages__gallery__item__ruler{

            svg{
              width: 100% !important;
            }
          }
        }

        &__image{
          margin-bottom: 1.5rem;
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
          border-radius: 10px;
        }

        &__title{
          color: $c-b;
          margin-bottom: 1rem;
        }

        &__description{
          max-width: 28.5rem;
          opacity: .7;
        }

        &__ruler{
          width: 100%;

          svg{
            width: calc( 100% + 12px);
            height: auto;
          }

          &__number{
            color: $c-b;
          }
        }
      }
    }
  }

  .products{

    &__image{
      grid-column: 1 / 7;
      margin-left: -2.5rem;
      width: calc(100% + 2.5rem);
      height: 65rem;
      object-fit: cover;
      object-position: center;
    }

    &__inner{
      grid-column: 7 / -1;
    }

    &__description{
      margin: 1.5rem 0 2.5rem 0;
      max-width: 22.65rem;
      opacity: .7;
    }

    &__list{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: .5rem .5rem;
    }

    &__item{
      grid-column: span 3;
      min-height: 14.5rem;
      background-color: #F5F5F7;
      border-radius: 10px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem 0;

      &__number{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 5px;
        border: 1px solid #20376D33;
      }

      &__title{
        max-width: 15rem;
      }
    }
    .button-polygon{
      margin-top: 1.5rem;
    }
  }

  .scale{
    margin-top: .5rem;
    min-height: 50.75rem;
    background-color: $c-b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &__paragraph{
      display: flex;
      align-items: center;
      gap: 0 .5rem;

      svg{
        width: .7rem;
        height: .8rem;
      }

      &__title{
        color: $c-w;
      }
    }

    &__list{

      &.active{

        .scale__item{
          top: 0;
          transition: 1s;
        }
      }
    }

    &__item{
      grid-column: span 4;
      position: relative;
      transition: 1s;

      &:nth-child(2){
        top: 4rem;
      }

      &:nth-child(3){
        top: 8rem;
      }

      &__number{
        color: $c-w;
        margin-bottom: 1rem;
      }

      &__description{
        color: $c-w;
        margin-bottom: 2.5rem;
      }

      &__image{
        width: 100%;
        height: 23rem;
        //border-left: 1px solid rgba(255, 255, 255, 0.2);
        //border-right: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .wide-range{

    &__image{
      grid-column: 1 / 3;
      width: 100%;
      height: 14.6rem;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__information{
      grid-column: 5 / -1;

      &__description{
        margin: 1.5rem 0 2rem 0;
        max-width: 31rem;
        opacity: .7;
      }
    }

    &__products{
      grid-column: 1 / -1;
      margin-top: 5rem;

      &__image{
        position: sticky;
        top: 2rem;
        width: 100%;
        height: 100svh;
        object-fit: contain;
        object-position: center;

        &__inner{
          grid-column: 1 / 7;
          width: 100%;
          height: 100%;
        }
      }

      &__content{
        grid-column: 7 / -1;

        &__item{
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 0 .5rem;
          padding-bottom: .5rem;

          &__ruler{
            grid-column: 1 / 2;
            position: relative;
            top: calc(-.5rem);
            //width: 5rem;
            height: calc(100% + 1rem);

            svg{
              width: 100%;
              height: 100%;
            }
          }

          &__information{
            grid-column: 2 / -1;
            background-color: #F5F5F7;
            border-radius: 10px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__inner{

              &:last-child{
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }

            &__number{
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 5px;
              border: 1px solid #20376D33;
              margin-bottom: 1.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &__title{
              max-width: 23.5rem;
            }

            &__link{
              width: fit-content;
              text-decoration: underline;
              color: $c-b;
              transition: .5s;

              &:hover{
                opacity: .4;
                transition: .5s;
              }
            }
          }
        }
      }
    }
  }

  .quality__container{
    position: relative;

    .quality{

      &__title{
        grid-column: 1 / 9;
        width: 105%;
        margin-bottom: 1.5rem;
      }

      &__inner{
        grid-column: 1 / -1;
        padding-bottom: 1rem;
        min-height: 32.5rem;
      }

      &__information{
        grid-column: 1 / 6;
        max-width: 85%;
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
      }

      &__wrapper{
        grid-column: 6 / -1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0 .5rem;

        .quality__ruler{
          grid-column: 1 / 2;

          &__item{
            stroke: #20376D;
            fill: transparent;
            transition: .5s;

            &.active{
              fill: #20376D;
              transition: .5s;
            }
          }
        }
      }

      &__list{
        grid-column: 2 / -1;
        position: relative;
      }

      &__item{
        position: absolute;
        top: 0;
        transform: translate(0, calc(100% + 2rem));
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background: #F5F5F7;

        &:first-child{
          position: relative;
          transform: translate(0, 0);
        }

        &__title{
          max-width: 23rem;
          text-align: center;
        }

        &__inner{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5.45rem 0;
        }

        &__icon{
          width: 8.9rem;
          height: 8.8rem;
        }

        &__description{
          max-width: 24.5rem;
          text-align: center;
          opacity: .7;
        }
      }
    }
  }

  .delivery{
    padding-bottom: 10rem;

    &__title{
      max-width: 80rem;
      margin-bottom: 2.5rem;
    }

    &__description{
      max-width: 21.35rem;
    }

    &__inner{
      position: relative;
      margin-top: -6rem;
    }

    &__image{
      position: relative;
      width: 100%;
      height: 47rem;
      z-index: 0;
    }

    &__list{
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;
      grid-template-rows: min-content;
    }

    &__item{
      padding: 1.5rem;
      border-radius: 10px;
      background: #F5F5F7;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: fit-content;
      min-height: 11.75rem;
      gap: 1rem 0;

      &:nth-child(1){
        grid-column: 9 / -1;
        grid-row: 1 / 1;
      }

      &:nth-child(2){
        grid-column: 1 / 5;
        grid-row: 2 / 2;
        margin-top: -1.5rem;
      }

      &:nth-child(3){
        grid-column: 6 / 10;
        grid-row: 3 / 3;
        margin-top: 6.5rem;
      }

      &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      &__description{
        max-width: 18.5rem;
      }

      &__icon{
        width: .7rem;
        height: .8rem;
        flex-shrink: 0;
      }
    }
  }
}

.industry{
  margin-top: .5rem;
  height: 9rem;
  background-color: $c-b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  &__description{
    color: $c-w;
    text-align: center;
    max-width: 46rem;
  }

  &__icon{
    position: absolute;
    width: .7rem;
    height: .8rem;

    &._lt{
      top: 1.5rem;
      left: 1.5rem;
    }

    &._rt{
      top: 1.5rem;
      right: 1.5rem;
    }

    &._rb{
      bottom: 1.5rem;
      right: 1.5rem;
    }

    &._lb{
      bottom: 1.5rem;
      left: 1.5rem;
    }
  }

  &__list{
    margin-top: .5rem;
    display: flex;
    gap: 0 .5rem;
  }

  &__item{
    width: 100%;
    background-color: $c-w;
    padding: 2.5rem;
    border-radius: 10px;
    min-height: 40.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem 0;

      &__title{
        color: $c-b;
      }

      &__description{
        max-width: 35rem;
        text-align: center;
      }
    }

    .button-long{
      width: fit-content;
    }
  }
}

.breadcrumbs{
  grid-column: 1 / 5;
  display: flex;
  align-items: baseline;
  gap: 0 .5rem;

  @include tablet{
    grid-column: 1 / -1;
  }

  svg{
    width: .7rem;
    height: .8rem;

    @include laptop{
      width: .5rem;
      height: .55rem;
    }
  }

  &__item{
    transition: .5s;

    &:hover{
      opacity: .5;
      transition: .5s;
    }

    &.active{
      opacity: .5;
    }
  }
}

.upper-information{

  &__title{
    grid-column: 5 / 11;

    @include tablet{
      grid-column: 1 / -1;
      margin-top: 2rem;
      max-width: 30.5rem;
    }

    @include mobile{
      margin-top: 1.5rem;
      max-width: 100%;
    }
  }
}
