@font-face {
  font-family: Inter Tight;
  src: url("../src/fonts/InterTight-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
html {
  font-size: 1.04vw;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
@media (max-width: 1366px) {
  html {
    font-size: 1.46vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 2.6vw;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 5.56vw;
  }
}

body {
  background-color: #F2F3F7;
  scroll-behavior: smooth;
}
body.fixed {
  overflow-y: hidden;
}

h1, .h1 {
  font-family: Inter Tight;
  font-size: 4.75rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #434244;
}
@media (max-width: 1366px) {
  h1, .h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 1024px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  h1, .h1 {
    letter-spacing: 0;
    font-size: 1.4rem;
  }
}

h2, .h2 {
  font-family: Inter Tight;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #434244;
}
@media (max-width: 1366px) {
  h2, .h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1024px) {
  h2, .h2 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  h2, .h2 {
    font-size: 1.2rem;
  }
}

h3, .h3 {
  font-family: Inter Tight;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #434244;
}
@media (max-width: 1366px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}
@media (max-width: 1024px) {
  h3, .h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  h3, .h3 {
    font-size: 1rem;
  }
}

h4, .h4 {
  font-family: Inter Tight;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 120%;
  color: #434244;
  letter-spacing: -0.03em;
}
@media (max-width: 1366px) {
  h4, .h4 {
    font-size: 1.25rem;
  }
}
@media (max-width: 1024px) {
  h4, .h4 {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  h4, .h4 {
    font-size: 0.9rem;
  }
}

h5, .h5 {
  font-family: Inter Tight;
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  color: #434244;
  letter-spacing: -0.04em;
}

.p1 {
  position: relative;
  font-family: Inter Tight;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  color: #434244;
  letter-spacing: -0.03em;
}
@media (max-width: 1366px) {
  .p1 {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .p1 {
    font-size: 0.7rem;
  }
}

.p2 {
  position: relative;
  font-family: Inter Tight;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 140%;
  color: #434244;
  letter-spacing: -0.02em;
}
@media (max-width: 1366px) {
  .p2 {
    font-size: 0.7rem;
  }
}
@media (max-width: 576px) {
  .p2 {
    font-size: 0.6rem;
  }
}

.p3 {
  position: relative;
  font-family: Inter Tight;
  font-size: 11.5rem;
  font-weight: 500;
  line-height: 100%;
  color: #434244;
  letter-spacing: -0.05em;
}
@media (max-width: 1366px) {
  .p3 {
    font-size: 8.5rem;
  }
}
@media (max-width: 1024px) {
  .p3 {
    font-size: 6.5rem;
  }
}
@media (max-width: 576px) {
  .p3 {
    font-size: 3rem;
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 2.5rem 2.5rem 0 2.5rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media (max-width: 1366px) {
  .container {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 1rem 1rem 0 1rem;
    border-radius: 5px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}
.container._no-overflow {
  overflow: initial !important;
}

.grid-12 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 0.5rem;
}
@media (max-width: 1024px) {
  .grid-12 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 576px) {
  .grid-12 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.button-long {
  padding: 0.6rem 1rem;
  border-radius: 100px;
  min-width: 11.5rem;
  box-sizing: border-box;
  border: none;
  transition: 0.5s;
}
@media (max-width: 1366px) {
  .button-long {
    min-width: 9rem;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 576px) {
  .button-long {
    min-width: 5.5rem;
  }
}
.button-long:hover .button-long__title {
  transition: 0.5s;
}
.button-long:hover .button-long__title:first-child {
  transform: translateY(-100%);
}
.button-long:hover .button-long__title:last-child {
  transform: translateY(0);
}
.button-long__inner {
  position: relative;
  display: block;
  overflow: hidden;
}
.button-long__title {
  display: block;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}
.button-long__title:first-child {
  transform: translateY(0);
}
.button-long__title:last-child {
  position: absolute;
  top: 0;
  transform: translateY(100%);
}
.button-long._orange {
  background-color: #F15A21;
  transition: 0.5s;
}
.button-long._orange:hover {
  background-color: #F07C50;
}
.button-long._orange .button-long__title {
  color: #FFFFFF;
}
.button-long._blue {
  background-color: #20376D;
  transition: 0.5s;
}
.button-long._blue:hover {
  background-color: #405B9B;
}
.button-long._blue .button-long__title {
  color: #FFFFFF;
}
.button-long._transparent {
  border: 1px solid rgba(32, 55, 109, 0.2);
  background-color: transparent;
  transition: 0.5s;
}
.button-long._transparent:hover {
  border: 1px solid rgba(43, 60, 107, 0.2);
}
.button-long._transparent .button-long__title {
  color: #2F2F2F;
}

.button-polygon {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  width: fit-content;
  border: none;
  padding: 0;
}
.button-polygon:hover .button-polygon__title {
  text-decoration: none;
  transition: 0.5s;
}
.button-polygon:hover .button-polygon__icon__inner svg {
  transition: 0.5s;
}
.button-polygon:hover .button-polygon__icon__inner svg:first-child {
  transform: translateX(120%);
}
.button-polygon:hover .button-polygon__icon__inner svg:last-child {
  transform: translateX(0);
}
.button-polygon__title {
  text-decoration: underline;
  transition: 0.5s;
}
.button-polygon__icon {
  width: 2.9rem;
  height: 3.35rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1366px) {
  .button-polygon__icon {
    width: 2.4rem;
    height: 2.85rem;
  }
}
.button-polygon__icon__inner {
  position: relative;
  overflow: hidden;
  display: block;
}
.button-polygon__icon__inner svg {
  display: block;
  transition: 0.5s;
}
.button-polygon__icon__inner svg:first-child {
  transform: translateX(0);
}
.button-polygon__icon__inner svg:last-child {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-120%);
}

.navigation__button {
  position: relative;
  width: 5rem;
  height: 5.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  transition: 0.5s;
}
.navigation__button:hover .navigation__button__border {
  transform: scale(0.85);
  transition: 0.5s;
}
.navigation__button:hover .navigation__button__border svg path {
  stroke: #20376D;
  stroke-opacity: 1;
  transition: 0.5s;
}
.navigation__button:hover._prev .navigation__button__inner svg {
  transition: 0.5s;
}
.navigation__button:hover._prev .navigation__button__inner svg:first-child {
  transform: translateX(-120%) scale(0.85);
}
.navigation__button:hover._prev .navigation__button__inner svg:last-child {
  transform: translateX(0) scale(0.85);
}
.navigation__button:hover._next .navigation__button__inner svg {
  transition: 0.5s;
}
.navigation__button:hover._next .navigation__button__inner svg:first-child {
  transform: translateX(120%) scale(0.85);
}
.navigation__button:hover._next .navigation__button__inner svg:last-child {
  transform: translateX(0) scale(0.85);
}
.navigation__button.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
  transition: 0.5s;
}
.navigation__button__border {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  transition: 0.5s;
}
.navigation__button__border svg {
  width: 100%;
  height: 100%;
}
.navigation__button__border svg path {
  transition: 0.5s;
}
.navigation__button._prev .navigation__button__inner svg:first-child {
  transform: translateX(0) scale(1);
}
.navigation__button._prev .navigation__button__inner svg:last-child {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(120%) scale(1);
}
.navigation__button._next .navigation__button__inner svg:first-child {
  transform: translateX(0) scale(1);
}
.navigation__button._next .navigation__button__inner svg:last-child {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-120%) scale(1);
}
.navigation__button__inner {
  position: relative;
  display: block;
  overflow: hidden;
}
.navigation__button__inner svg {
  display: block;
  transition: 0.5s;
}

.anchor {
  position: absolute;
  top: -5rem;
  pointer-events: none;
  visibility: hidden;
}

.header {
  position: fixed;
  top: 0;
  width: calc(100% - 1rem);
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999;
}
@media (max-width: 1024px) {
  .header {
    border-radius: 5px;
  }
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 9.55rem;
  height: 3rem;
  flex-shrink: 0;
  transition: 0.5s;
}
@media (max-width: 1366px) {
  .header__logo {
    width: 7.7rem;
    height: 2.45rem;
  }
}
@media (max-width: 1024px) {
  .header__logo {
    width: 6.9rem;
    height: 2.15rem;
  }
}
@media (max-width: 576px) {
  .header__logo {
    width: 5.95rem;
    height: 1.85rem;
  }
}
.header__logo:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header__products {
  margin-left: 9rem;
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  width: fit-content;
}
@media (max-width: 1366px) {
  .header__products {
    margin-left: 4rem;
  }
}
@media (max-width: 1024px) {
  .header__products {
    margin-left: 2.5rem;
  }
}
@media (max-width: 576px) {
  .header__products {
    display: none;
  }
}
.header__products:hover .header__products__title {
  opacity: 0.4;
  transition: 0.5s;
}
.header__products:hover .header__products__icon rect {
  fill: #405B9B;
  transition: 0.5s;
}
.header__products__title {
  transition: 0.5s;
}
.header__products__icon {
  width: 2.05rem;
  height: 2.05rem;
}
@media (max-width: 1366px) {
  .header__products__icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}
.header__products__icon rect {
  transition: 0.5s;
}
.header__navigation {
  margin-left: 8rem;
  display: flex;
  align-items: center;
  gap: 0 1.5rem;
}
@media (max-width: 1366px) {
  .header__navigation {
    margin-left: 5rem;
    gap: 0 0.75rem;
  }
}
@media (max-width: 1024px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation__item {
  width: fit-content;
  transition: 0.5s;
}
.header__navigation__item:hover {
  opacity: 0.4;
  transition: 0.5s;
}
.header__lang {
  position: relative;
}
@media (max-width: 1024px) {
  .header__lang {
    display: none;
  }
}
.header__lang__activity {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
.header__lang__activity:hover .header__lang__activity__title {
  opacity: 0.4;
  transition: 0.5s;
}
.header__lang__activity:hover .header__lang__activity__icon svg rect {
  fill: #405B9B;
  transition: 0.5s;
}
.header__lang__activity.active .header__lang__activity__icon rect:first-child {
  height: 0;
}
.header__lang__activity__title {
  transition: 0.5s;
}
.header__lang__activity__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.05rem;
  height: 2.05rem;
  border-radius: 5px;
  border: 1px solid rgba(67, 66, 68, 0.2);
}
@media (max-width: 1366px) {
  .header__lang__activity__icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}
.header__lang__activity__icon svg rect {
  fill: #20376D;
  transition: 0.5s;
}
.header__lang__all {
  position: absolute;
  top: 3.25rem;
  width: 3.45rem;
  min-height: 3.45rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(32, 55, 109, 0.2);
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  gap: 0.5rem 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.5s;
}
.header__lang__all.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: 0.5s;
}
.header__search {
  position: relative;
  margin-left: 2rem;
  border: 1px solid rgba(67, 66, 68, 0.2);
  border-radius: 100px;
}
@media (max-width: 1024px) {
  .header__search {
    display: none;
  }
}
.header__search__form__input {
  padding: 0.6rem 1rem;
  border: none;
}
@media (max-width: 1366px) {
  .header__search__form__input {
    padding: 0.5rem 1rem;
  }
}
.header__search__form__input::placeholder {
  opacity: 0.4;
}
.header__search__form__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  height: 100%;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}
.header__search__form__button svg {
  width: 0.65rem;
  height: 0.7rem;
  object-fit: cover;
  object-position: center;
}
.header .button-long {
  margin-left: 0.5rem;
}
@media (max-width: 576px) {
  .header .button-long._orange {
    display: none;
  }
}
.header .button-long._transparent {
  display: none;
}
@media (max-width: 1024px) {
  .header .button-long._transparent {
    display: block;
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .header .button-long._transparent {
    background-color: #F15A21;
    transition: 0.5s;
  }
  .header .button-long._transparent:hover {
    background-color: #F07C50;
  }
  .header .button-long._transparent .button-long__title {
    color: #FFFFFF;
  }
}

.main {
  margin-top: 4.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 1366px) {
  .main {
    margin-top: 4rem;
  }
}
@media (max-width: 1024px) {
  .main {
    margin-top: 3.5rem;
  }
}
.main .hero__paragraph {
  grid-column: 1/4;
  display: flex;
  gap: 0 0.5rem;
}
.main .hero__paragraph__icon {
  margin-top: 0.5rem;
  width: 0.7rem;
  height: 0.8rem;
  flex-shrink: 0;
}
.main .hero__paragraph__inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}
.main .hero__information {
  grid-column: 5/-1;
  padding-bottom: 2.5rem;
}
.main .hero__information__description {
  margin: 1.5rem 0 2rem 0;
  max-width: 28.25rem;
  opacity: 0.7;
}
.main .main-image {
  margin-top: 0.5rem;
  width: 100%;
  height: 47.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .container-main__inner {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 10rem 0;
}
@media (max-width: 1366px) {
  .main .container-main__inner {
    gap: 7.5rem 0;
  }
}
@media (max-width: 1024px) {
  .main .container-main__inner {
    gap: 5rem 0;
  }
}
@media (max-width: 576px) {
  .main .container-main__inner {
    gap: 4rem 0;
  }
}
.main .customer-focus__paragraph {
  grid-column: 1/4;
}
.main .customer-focus__paragraph__image {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 18.9rem;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .customer-focus__paragraph__title {
  margin-bottom: 0.5rem;
}
.main .customer-focus__paragraph__description {
  max-width: 18.5rem;
}
.main .customer-focus__information {
  grid-column: 7/-1;
}
.main .customer-focus__information__description {
  margin: 1.5rem 0 2rem 0;
  max-width: 31rem;
  opacity: 0.7;
}
.main .advantages__information {
  grid-column: 1/5;
  max-width: 90%;
}
.main .advantages__information__description {
  margin: 1.5rem 0 2.5rem 0;
  max-width: 21.7rem;
  opacity: 0.7;
}
.main .advantages__information__navigation {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
.main .advantages__gallery {
  grid-column: 7/-1;
  width: calc(100% + 2.5rem);
  position: relative;
  min-height: 46rem;
}
.main .advantages__gallery .swiper {
  height: 100%;
}
.main .advantages__gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .advantages__gallery__item.last .advantages__gallery__item__ruler svg {
  width: 100% !important;
}
.main .advantages__gallery__item__image {
  margin-bottom: 1.5rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.main .advantages__gallery__item__title {
  color: #20376D;
  margin-bottom: 1rem;
}
.main .advantages__gallery__item__description {
  max-width: 28.5rem;
  opacity: 0.7;
}
.main .advantages__gallery__item__ruler {
  width: 100%;
}
.main .advantages__gallery__item__ruler svg {
  width: calc(100% + 12px);
  height: auto;
}
.main .advantages__gallery__item__ruler__number {
  color: #20376D;
}
.main .products__image {
  grid-column: 1/7;
  margin-left: -2.5rem;
  width: calc(100% + 2.5rem);
  height: 65rem;
  object-fit: cover;
  object-position: center;
}
.main .products__inner {
  grid-column: 7/-1;
}
.main .products__description {
  margin: 1.5rem 0 2.5rem 0;
  max-width: 22.65rem;
  opacity: 0.7;
}
.main .products__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem 0.5rem;
}
.main .products__item {
  grid-column: span 3;
  min-height: 14.5rem;
  background-color: #F5F5F7;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}
.main .products__item__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 5px;
  border: 1px solid rgba(32, 55, 109, 0.2);
}
.main .products__item__title {
  max-width: 15rem;
}
.main .products .button-polygon {
  margin-top: 1.5rem;
}
.main .scale {
  margin-top: 0.5rem;
  min-height: 50.75rem;
  background-color: #20376D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.main .scale__paragraph {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
.main .scale__paragraph svg {
  width: 0.7rem;
  height: 0.8rem;
}
.main .scale__paragraph__title {
  color: #FFFFFF;
}
.main .scale__list.active .scale__item {
  top: 0;
  transition: 1s;
}
.main .scale__item {
  grid-column: span 4;
  position: relative;
  transition: 1s;
}
.main .scale__item:nth-child(2) {
  top: 4rem;
}
.main .scale__item:nth-child(3) {
  top: 8rem;
}
.main .scale__item__number {
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.main .scale__item__description {
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}
.main .scale__item__image {
  width: 100%;
  height: 23rem;
}
.main .wide-range__image {
  grid-column: 1/3;
  width: 100%;
  height: 14.6rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .wide-range__information {
  grid-column: 5/-1;
}
.main .wide-range__information__description {
  margin: 1.5rem 0 2rem 0;
  max-width: 31rem;
  opacity: 0.7;
}
.main .wide-range__products {
  grid-column: 1/-1;
  margin-top: 5rem;
}
.main .wide-range__products__image {
  position: sticky;
  top: 2rem;
  width: 100%;
  height: 100svh;
  object-fit: contain;
  object-position: center;
}
.main .wide-range__products__image__inner {
  grid-column: 1/7;
  width: 100%;
  height: 100%;
}
.main .wide-range__products__content {
  grid-column: 7/-1;
}
.main .wide-range__products__content__item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 0.5rem;
  padding-bottom: 0.5rem;
}
.main .wide-range__products__content__item__ruler {
  grid-column: 1/2;
  position: relative;
  top: -0.5rem;
  height: calc(100% + 1rem);
}
.main .wide-range__products__content__item__ruler svg {
  width: 100%;
  height: 100%;
}
.main .wide-range__products__content__item__information {
  grid-column: 2/-1;
  background-color: #F5F5F7;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .wide-range__products__content__item__information__inner:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .wide-range__products__content__item__information__number {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 5px;
  border: 1px solid rgba(32, 55, 109, 0.2);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .wide-range__products__content__item__information__title {
  max-width: 23.5rem;
}
.main .wide-range__products__content__item__information__link {
  width: fit-content;
  text-decoration: underline;
  color: #20376D;
  transition: 0.5s;
}
.main .wide-range__products__content__item__information__link:hover {
  opacity: 0.4;
  transition: 0.5s;
}
.main .quality__container {
  position: relative;
}
.main .quality__container .quality__title {
  grid-column: 1/9;
  width: 105%;
  margin-bottom: 1.5rem;
}
@media (max-width: 1366px) {
  .main .quality__container .quality__title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 1366px) {
  .main .quality__container .quality__title {
    grid-column: 1/-1;
  }
}
@media (max-width: 576px) {
  .main .quality__container .quality__title {
    margin-bottom: 0.5rem;
  }
}
.main .quality__container .quality__inner {
  grid-column: 1/-1;
  padding-bottom: 1rem;
  min-height: 32.5rem;
}
@media (max-width: 1366px) {
  .main .quality__container .quality__inner {
    min-height: 22.5rem;
  }
}
@media (max-width: 1024px) {
  .main .quality__container .quality__inner {
    min-height: initial;
    padding-bottom: 0;
  }
}
.main .quality__container .quality__information {
  grid-column: 1/6;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
@media (max-width: 1366px) {
  .main .quality__container .quality__information {
    max-width: 100%;
    gap: 1.5rem 0;
  }
}
@media (max-width: 576px) {
  .main .quality__container .quality__information {
    grid-column: 1/-1;
    gap: 1rem 0;
  }
}
.main .quality__container .quality__information .quality__description ul {
  padding-left: 1rem;
}
.main .quality__container .quality__wrapper {
  grid-column: 6/-1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0 0.5rem;
}
@media (max-width: 1024px) {
  .main .quality__container .quality__wrapper {
    grid-column: 1/-1;
    margin-top: 3rem;
  }
}
@media (max-width: 576px) {
  .main .quality__container .quality__wrapper {
    margin-top: 2rem;
  }
}
.main .quality__container .quality__wrapper .quality__ruler {
  grid-column: 1/2;
  height: 32.5rem;
}
@media (max-width: 1366px) {
  .main .quality__container .quality__wrapper .quality__ruler {
    height: 22.5rem;
  }
}
@media (max-width: 1024px) {
  .main .quality__container .quality__wrapper .quality__ruler {
    display: none;
  }
}
.main .quality__container .quality__wrapper .quality__ruler svg {
  width: auto;
  height: 100%;
}
.main .quality__container .quality__wrapper .quality__ruler__item {
  stroke: #20376D;
  fill: transparent;
  transition: 0.5s;
}
.main .quality__container .quality__wrapper .quality__ruler__item.active {
  fill: #20376D;
  transition: 0.5s;
}
.main .quality__container .quality__list {
  grid-column: 2/-1;
  position: relative;
}
@media (max-width: 1024px) {
  .main .quality__container .quality__list {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
  }
}
.main .quality__container .quality__item {
  position: absolute;
  top: 0;
  transform: translate(0, calc(100% + 2rem));
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #F5F5F7;
}
@media (max-width: 1024px) {
  .main .quality__container .quality__item {
    position: relative;
    min-height: 18.25rem;
    height: fit-content;
    transform: initial !important;
    border-radius: 5px;
  }
}
@media (max-width: 576px) {
  .main .quality__container .quality__item {
    min-height: 16rem;
    gap: 0.5rem 0;
    padding: 1rem 0.5rem;
  }
}
.main .quality__container .quality__item:first-child {
  position: relative;
  transform: translate(0, 0);
}
.main .quality__container .quality__item__title {
  max-width: 23rem;
  text-align: center;
}
@media (max-width: 1366px) {
  .main .quality__container .quality__item__title {
    font-size: 1.25rem;
    max-width: 14rem;
  }
}
@media (max-width: 1024px) {
  .main .quality__container .quality__item__title {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .main .quality__container .quality__item__title {
    font-size: 0.9rem;
  }
}
.main .quality__container .quality__item__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.45rem 0;
}
@media (max-width: 1366px) {
  .main .quality__container .quality__item__inner {
    gap: 3rem 0;
  }
}
@media (max-width: 576px) {
  .main .quality__container .quality__item__inner {
    gap: 1rem 0;
  }
}
.main .quality__container .quality__item__icon {
  width: 8.9rem;
  height: 8.8rem;
}
@media (max-width: 1366px) {
  .main .quality__container .quality__item__icon {
    width: 6rem;
    height: 5.95rem;
  }
}
.main .quality__container .quality__item__description {
  max-width: 24.5rem;
  text-align: center;
  opacity: 0.7;
}
.main .delivery {
  padding-bottom: 10rem;
}
.main .delivery__title {
  max-width: 90%;
  margin-bottom: 2.5rem;
}
@media (max-width: 1366px) {
  .main .delivery__title {
    margin-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .main .delivery__title {
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.2rem !important;
  }
  .main .delivery__title h1 {
    font-size: inherit;
  }
}
.main .delivery__description {
  max-width: 21.35rem;
}
.main .delivery__inner {
  position: relative;
  margin-top: -6rem;
}
@media (max-width: 1366px) {
  .main .delivery__inner {
    margin-top: -4rem;
  }
}
@media (max-width: 1024px) {
  .main .delivery__inner {
    margin-top: -2rem;
  }
}
@media (max-width: 576px) {
  .main .delivery__inner {
    margin-top: 1rem;
  }
}
.main .delivery__image {
  position: relative;
  width: 100%;
  height: 47rem;
  z-index: 0;
}
@media (max-width: 1366px) {
  .main .delivery__image {
    height: 31rem;
  }
}
@media (max-width: 1024px) {
  .main .delivery__image {
    height: 20.4rem;
  }
}
@media (max-width: 576px) {
  .main .delivery__image {
    height: 100%;
  }
}
.main .delivery__list {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  grid-template-rows: min-content;
}
@media (max-width: 1024px) {
  .main .delivery__list {
    gap: 0.5rem 0.5rem;
    top: 14rem;
  }
}
@media (max-width: 576px) {
  .main .delivery__list {
    top: 0;
    position: relative;
  }
}
.main .delivery__item {
  padding: 1.5rem;
  border-radius: 10px;
  background: #F5F5F7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  min-height: 11.75rem;
  gap: 1rem 0;
}
@media (max-width: 1366px) {
  .main .delivery__item {
    padding: 1rem;
    min-height: 10rem;
  }
}
@media (max-width: 1024px) {
  .main .delivery__item {
    grid-column: span 3 !important;
    grid-row: initial !important;
    margin-top: 0 !important;
    min-height: 8.5rem;
    border-radius: 5px;
  }
}
@media (max-width: 576px) {
  .main .delivery__item {
    padding: 0.5rem;
    grid-column: 1/-1 !important;
  }
}
.main .delivery__item:nth-child(1) {
  grid-column: 9/-1;
  grid-row: 1/1;
}
.main .delivery__item:nth-child(2) {
  grid-column: 1/5;
  grid-row: 2/2;
  margin-top: -1.5rem;
}
.main .delivery__item:nth-child(3) {
  grid-column: 6/10;
  grid-row: 3/3;
  margin-top: 6.5rem;
}
@media (max-width: 1366px) {
  .main .delivery__item:nth-child(3) {
    margin-top: 2.5rem;
  }
}
.main .delivery__item__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main .delivery__item__description {
  max-width: 18.5rem;
}
@media (max-width: 1366px) {
  .main .delivery__item__description {
    max-width: 15.4rem;
  }
}
@media (max-width: 576px) {
  .main .delivery__item__description {
    max-width: 90%;
  }
}
.main .delivery__item__icon {
  width: 0.7rem;
  height: 0.8rem;
  flex-shrink: 0;
}
@media (max-width: 1366px) {
  .main .delivery__item__icon {
    width: 0.5rem;
    height: 0.55rem;
  }
}

.industry {
  margin-top: 0.5rem;
  height: 9rem;
  background-color: #20376D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media (max-width: 1366px) {
  .industry {
    height: 7.5rem;
  }
}
@media (max-width: 1024px) {
  .industry {
    height: 7rem;
  }
}
.industry__description {
  color: #FFFFFF;
  text-align: center;
  max-width: 46rem;
}
@media (max-width: 1366px) {
  .industry__description {
    max-width: 33.6rem;
  }
}
@media (max-width: 1024px) {
  .industry__description {
    max-width: 25.6rem;
  }
}
@media (max-width: 576px) {
  .industry__description {
    max-width: 90%;
  }
}
.industry__icon {
  position: absolute;
  width: 0.7rem;
  height: 0.8rem;
}
@media (max-width: 1366px) {
  .industry__icon {
    width: 0.5rem;
    height: 0.55rem;
  }
}
.industry__icon._lt {
  top: 1.5rem;
  left: 1.5rem;
}
@media (max-width: 1366px) {
  .industry__icon._lt {
    top: 1rem;
    left: 1rem;
  }
}
@media (max-width: 576px) {
  .industry__icon._lt {
    top: 0.5rem;
    left: 0.5rem;
  }
}
.industry__icon._rt {
  top: 1.5rem;
  right: 1.5rem;
}
@media (max-width: 1366px) {
  .industry__icon._rt {
    top: 1rem;
    right: 1rem;
  }
}
@media (max-width: 576px) {
  .industry__icon._rt {
    top: 0.5rem;
    right: 0.5rem;
  }
}
.industry__icon._rb {
  bottom: 1.5rem;
  right: 1.5rem;
}
@media (max-width: 1366px) {
  .industry__icon._rb {
    bottom: 1rem;
    right: 1rem;
  }
}
@media (max-width: 576px) {
  .industry__icon._rb {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
.industry__icon._lb {
  bottom: 1.5rem;
  left: 1.5rem;
}
@media (max-width: 1366px) {
  .industry__icon._lb {
    bottom: 1rem;
    left: 1rem;
  }
}
@media (max-width: 576px) {
  .industry__icon._lb {
    bottom: 0.5rem;
    left: 0.5rem;
  }
}
.industry__list {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem 0.5rem;
}
@media (max-width: 576px) {
  .industry__list {
    flex-direction: column;
  }
}
.industry__item {
  width: 100%;
  background-color: #FFFFFF;
  padding: 2.5rem;
  border-radius: 10px;
  min-height: 40.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1366px) {
  .industry__item {
    padding: 1.5rem;
    min-height: 32.5rem;
  }
}
@media (max-width: 1024px) {
  .industry__item {
    padding: 1rem;
    min-height: 21rem;
  }
}
@media (max-width: 576px) {
  .industry__item {
    padding: 1rem;
    min-height: 18rem;
    border-radius: 5px;
  }
}
.industry__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem 0;
}
@media (max-width: 1366px) {
  .industry__item__content {
    gap: 1rem 0;
  }
}
@media (max-width: 1024px) {
  .industry__item__content {
    gap: 0.5rem 0;
  }
}
.industry__item__content__title {
  color: #20376D;
}
.industry__item__content__description {
  max-width: 35rem;
  text-align: center;
}
@media (max-width: 1366px) {
  .industry__item__content__description {
    max-width: 21rem;
  }
}
@media (max-width: 1024px) {
  .industry__item__content__description {
    max-width: 100%;
  }
}
.industry__item__image {
  width: 20.1rem;
  height: 20.1rem;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1366px) {
  .industry__item__image {
    width: 13.9rem;
    height: 13.9rem;
  }
}
@media (max-width: 1024px) {
  .industry__item__image {
    width: 7.4rem;
    height: 7.4rem;
  }
}
@media (max-width: 576px) {
  .industry__item__image {
    width: 5.5rem;
    height: 5.5rem;
  }
}
.industry__item .button-long {
  width: fit-content;
}

.breadcrumbs {
  grid-column: 1/5;
  display: flex;
  align-items: baseline;
  gap: 0 0.5rem;
}
@media (max-width: 1024px) {
  .breadcrumbs {
    grid-column: 1/-1;
  }
}
.breadcrumbs svg {
  width: 0.7rem;
  height: 0.8rem;
}
@media (max-width: 1366px) {
  .breadcrumbs svg {
    width: 0.5rem;
    height: 0.55rem;
  }
}
.breadcrumbs__item {
  transition: 0.5s;
}
.breadcrumbs__item:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.breadcrumbs__item.active {
  opacity: 0.5;
}

.upper-information__title {
  grid-column: 5/-1;
}
@media (max-width: 1024px) {
  .upper-information__title {
    grid-column: 1/-1;
    margin-top: 2rem;
    max-width: 30.5rem;
  }
}
@media (max-width: 576px) {
  .upper-information__title {
    margin-top: 1.5rem;
    max-width: 100%;
  }
}
.upper-information__description {
  grid-column: 5/10;
  margin-top: 1.5rem;
  max-width: 80%;
}
@media (max-width: 1366px) {
  .upper-information__description {
    margin-top: 1rem;
    max-width: 90%;
  }
}
@media (max-width: 1024px) {
  .upper-information__description {
    grid-column: 1/5;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .upper-information__description {
    grid-column: 1/-1;
    margin-top: 0.5rem;
  }
}
.upper-information__link {
  grid-column: 5/9;
  margin-top: 2rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .upper-information__link {
    grid-column: 1/-1;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .upper-information__link {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

.upper-information__image {
  margin-top: 0.5rem;
  width: 100%;
  height: 48rem;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50px;
  transition: 0.5s;
}
@media (max-width: 1366px) {
  .upper-information__image {
    height: 33.5rem;
  }
}
@media (max-width: 1024px) {
  .upper-information__image {
    height: 18.75rem;
    border-radius: 5px;
  }
}
@media (max-width: 576px) {
  .upper-information__image {
    height: 10.5rem;
    border-radius: 5px;
  }
}

.info-center {
  margin-top: 0.5rem;
  padding-bottom: 2.5rem;
}
.info-center__inner {
  margin-bottom: 5rem;
}
.info-center__paragraph {
  grid-column: 1/2;
  display: flex;
  align-items: baseline;
  gap: 0 0.5rem;
}
.info-center__title {
  grid-column: 5/11;
}
.info-center .button-polygon {
  margin-top: 2.5rem;
  width: fit-content;
  justify-self: center;
}
.info-center__list {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}
.info-center__item {
  padding: 2.5rem 2.5rem;
  margin-left: -2.5rem;
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 1366px) {
  .info-center__item {
    padding: 1.5rem 1.5rem;
    margin-left: -1.5rem;
  }
}
@media (max-width: 1024px) {
  .info-center__item {
    padding: 0;
    margin-left: 0;
  }
}
.info-center__item:hover {
  background-color: #F2F3F7;
}
.info-center__item:hover .info-center__item__description {
  opacity: 1;
  transition: 0.5s;
}
.info-center__item__image {
  grid-column: 1/5;
  border-radius: 10px;
  width: 100%;
  height: 21.25rem;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1366px) {
  .info-center__item__image {
    height: 15rem;
  }
}
@media (max-width: 1024px) {
  .info-center__item__image {
    grid-column: 1/-1;
    height: 20rem;
    border-radius: 5px;
  }
}
@media (max-width: 576px) {
  .info-center__item__image {
    height: 9rem;
  }
}
.info-center__item__date {
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .info-center__item__date {
    grid-column: 1/-1;
    flex-direction: row;
    align-items: baseline;
    gap: 0 3px;
    margin: 1rem 0 0.5rem 0;
  }
}
.info-center__item__date__number {
  color: #20376D;
}
@media (max-width: 1024px) {
  .info-center__item__date__number {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .info-center__item__date__number {
    font-size: 0.7rem;
  }
}
@media (max-width: 1024px) {
  .info-center__item__date__another {
    color: #20376D;
  }
}
.info-center__item__link {
  display: none;
}
@media (max-width: 1024px) {
  .info-center__item__link {
    display: block;
    margin-top: 1rem;
    color: #20376D;
    text-decoration: underline;
  }
}
@media (max-width: 576px) {
  .info-center__item__link {
    margin-top: 0.5rem;
  }
}
.info-center__item__inner {
  grid-column: 9/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .info-center__item__inner {
    grid-column: 1/-1;
  }
}
.info-center__item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  max-width: 28.5rem;
  opacity: 0;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  .info-center__item__description {
    display: none;
  }
}
.info-center__item__description svg {
  width: 0.7rem;
  height: 0.8rem;
}

.page-infocenter .container-main__inner {
  gap: 0;
  padding-bottom: 2.5rem;
}
@media (max-width: 1366px) {
  .page-infocenter .container-main__inner {
    padding-bottom: 1.5rem;
  }
}
.page-infocenter .date-filter {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}
@media (max-width: 1366px) {
  .page-infocenter .date-filter {
    margin-top: 2rem;
  }
}
@media (max-width: 1024px) {
  .page-infocenter .date-filter {
    margin-top: 1.5rem;
  }
}
@media (max-width: 576px) {
  .page-infocenter .date-filter {
    gap: 0.5rem 0;
  }
}
.page-infocenter .date-filter__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
}
.page-infocenter .date-filter__button {
  padding: 0.75rem 0.5rem;
  border: 1px solid rgba(32, 55, 109, 0.2);
  background-color: transparent;
  border-radius: 10px;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  .page-infocenter .date-filter__button {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
  }
}
.page-infocenter .date-filter__button:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.page-infocenter .date-filter__button.active {
  background-color: #20376D;
  color: #FFFFFF;
  transition: 0.5s;
}
.page-infocenter .info-center__button {
  display: flex;
  justify-content: center;
}

.page-tara .container-main__inner {
  padding-bottom: 10rem;
  gap: 0;
}
.page-tara .tara {
  margin-top: 2.5rem;
}
.page-tara .tara__content {
  grid-column: 5/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0 0.5rem;
}
.page-tara .tara__content__item {
  grid-column: span 4;
  min-height: 24.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid rgba(67, 66, 68, 0.2);
  padding: 1.5rem 0;
}
.page-tara .tara__content__item:nth-last-child(-n+2) {
  border-bottom: 1px solid rgba(67, 66, 68, 0.2);
}
.page-tara .tara__content__item__title {
  margin-bottom: 1.5rem;
}
.page-tara .tara__content__item__image {
  width: 10.55rem;
  height: 10.55rem;
  border-radius: 10px;
  background-color: #F5F5F7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-tara .tara__content__item__image img {
  flex-shrink: 0;
  width: 4.15rem;
  height: 6.35rem;
  object-fit: cover;
  object-position: center;
}

.products-filter {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.products-filter__item {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}
.products-filter__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
  max-width: 24rem;
}
.products-filter__button {
  padding: 0.75rem 0.5rem;
  border: 1px solid rgba(32, 55, 109, 0.2);
  background-color: transparent;
  border-radius: 10px;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  .products-filter__button {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
  }
}
.products-filter__button:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.products-filter__button.active {
  background-color: #20376D;
  border: 1px solid #20376D;
  color: #FFFFFF;
  transition: 0.5s;
}
.products-filter__clear {
  width: fit-content;
  text-decoration: underline;
  border: none;
  padding: 0;
  transition: 0.5s;
}
.products-filter__clear:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.page-contacts .container-main__inner {
  gap: 0;
}
.page-contacts .upper-information__title {
  grid-column: 7/-1;
}
@media (max-width: 1024px) {
  .page-contacts .upper-information__title {
    grid-column: 1/-1;
  }
}
.page-contacts .contacts {
  margin-top: 5rem;
  padding-bottom: 10rem;
}
@media (max-width: 1366px) {
  .page-contacts .contacts {
    margin-top: 3rem;
    padding-bottom: 7.5rem;
  }
}
@media (max-width: 1024px) {
  .page-contacts .contacts {
    margin-top: 2rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 576px) {
  .page-contacts .contacts {
    margin-top: 1.5rem;
    padding-bottom: 4rem;
  }
}
.page-contacts .contacts__image {
  grid-column: 1/5;
  width: 100%;
  height: 21rem;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1366px) {
  .page-contacts .contacts__image {
    height: 15rem;
  }
}
@media (max-width: 1024px) {
  .page-contacts .contacts__image {
    grid-column: 1/-1;
    grid-row: 2/2;
    height: 25rem;
    margin-top: 2rem;
    border-radius: 5px;
  }
}
@media (max-width: 1024px) {
  .page-contacts .contacts__image {
    height: 12rem;
  }
}
.page-contacts .contacts__information {
  grid-column: 7/-1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content;
  gap: 2.5rem 0.5rem;
}
@media (max-width: 1366px) {
  .page-contacts .contacts__information {
    gap: 2rem 0.5rem;
  }
}
@media (max-width: 1024px) {
  .page-contacts .contacts__information {
    gap: 2rem 0.5rem;
    grid-column: 1/-1;
  }
}
@media (max-width: 576px) {
  .page-contacts .contacts__information {
    gap: 2.5rem 0.5rem;
  }
}
.page-contacts .contacts__information__item {
  grid-column: span 3;
  max-width: 16.5rem;
}
@media (max-width: 1366px) {
  .page-contacts .contacts__information__item {
    max-width: 16rem;
  }
}
@media (max-width: 576px) {
  .page-contacts .contacts__information__item {
    max-width: 100%;
    grid-column: 1/-1;
  }
}
.page-contacts .contacts__information__item__title {
  margin-bottom: 1.5rem;
}
@media (max-width: 1024px) {
  .page-contacts .contacts__information__item__title {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .page-contacts .contacts__information__item__title {
    font-size: 0.9rem;
  }
}
.page-contacts .contacts__information__item__description a {
  color: #20376D;
  text-decoration: underline;
  transition: 0.5s;
}
.page-contacts .contacts__information__item__description a:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.page-products .catalog__title {
  margin-bottom: 2.5rem;
}
@media (max-width: 1366px) {
  .page-products .catalog__title {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 576px) {
  .page-products .catalog__title {
    margin-bottom: 1rem;
  }
}
.page-products .catalog__inner {
  border-top: 1px solid rgba(67, 66, 68, 0.2);
  padding-top: 2.5rem;
}
@media (max-width: 1366px) {
  .page-products .catalog__inner {
    padding-top: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .page-products .catalog__inner {
    border-top: none;
    padding-top: 0;
  }
}
.page-products .catalog__paragraph {
  grid-column: 1/5;
}
@media (max-width: 1024px) {
  .page-products .catalog__paragraph {
    grid-column: 1/-1;
    border-bottom: 1px solid rgba(67, 66, 68, 0.2);
    padding-bottom: 1rem;
  }
}
.page-products .catalog__list {
  grid-column: 5/-1;
}
@media (max-width: 1366px) {
  .page-products .catalog__list {
    grid-column: 6/-1;
  }
}
@media (max-width: 1024px) {
  .page-products .catalog__list {
    grid-column: 1/-1;
  }
}
.page-products .catalog__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
  border-bottom: 1px solid rgba(67, 66, 68, 0.2);
  transition: 0.5s;
}
@media (max-width: 1366px) {
  .page-products .catalog__item {
    padding: 1.5rem 0;
  }
}
@media (max-width: 1366px) {
  .page-products .catalog__item {
    padding: 1rem 0;
  }
}
@media (max-width: 576px) {
  .page-products .catalog__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem 0;
  }
}
.page-products .catalog__item:first-child {
  padding: 0 0 2.5rem 0;
}
@media (max-width: 1366px) {
  .page-products .catalog__item:first-child {
    padding: 0 0 1.5rem 0;
  }
}
@media (max-width: 1024px) {
  .page-products .catalog__item:first-child {
    padding: 1rem 0;
  }
}
.page-products .catalog__item:hover .catalog__item__title, .page-products .catalog__item:hover .catalog__item__document {
  opacity: 1;
  transition: 0.5s;
}
.page-products .catalog__item__title {
  opacity: 0.4;
  transition: 0.5s;
}
@media (max-width: 1366px) {
  .page-products .catalog__item__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 1024px) {
  .page-products .catalog__item__title {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .page-products .catalog__item__title {
    font-size: 0.9rem;
    opacity: 1;
  }
}
.page-products .catalog__item__document {
  opacity: 0.4;
  color: #20376D;
  text-decoration: underline;
  transition: 0.5s;
}
@media (max-width: 576px) {
  .page-products .catalog__item__document {
    opacity: 1;
  }
}
.page-products .catalog-product__image {
  grid-column: 1/6;
  width: 100%;
  height: 43.5rem;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1366px) {
  .page-products .catalog-product__image {
    height: 32rem;
  }
}
@media (max-width: 1024px) {
  .page-products .catalog-product__image {
    grid-column: 1/-1;
    grid-row: 2/2;
    margin-top: -10rem;
    width: 17.5rem;
    height: 20.4rem;
    justify-self: flex-end;
  }
}
@media (max-width: 576px) {
  .page-products .catalog-product__image {
    margin-top: -2rem;
    width: 7.9rem;
    height: 9.2rem;
  }
}
.page-products .catalog-product__content {
  grid-column: 7/-1;
}
@media (max-width: 1024px) {
  .page-products .catalog-product__content {
    grid-column: 1/-1;
  }
}
.page-products .catalog-product__content__paragraph {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: baseline;
  gap: 0 0.5rem;
}
@media (max-width: 1366px) {
  .page-products .catalog-product__content__paragraph {
    margin-bottom: 1rem;
  }
}
.page-products .catalog-product__content__paragraph svg {
  width: 0.7rem;
  height: 0.8rem;
}
@media (max-width: 1366px) {
  .page-products .catalog-product__content__paragraph svg {
    width: 0.5rem;
    height: 0.55rem;
  }
}
.page-products .catalog-product__content__title-lubricants {
  margin-bottom: 1.5rem;
}
@media (max-width: 1366px) {
  .page-products .catalog-product__content__title-lubricants {
    margin-bottom: 1rem;
  }
}
@media (max-width: 1024px) {
  .page-products .catalog-product__content__title-lubricants {
    max-width: 90%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .page-products .catalog-product__content__title-lubricants {
    max-width: 100%;
    margin-bottom: 0.5rem;
  }
}
.page-products .catalog-product__content__description {
  max-width: 19.6rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 576px) {
  .page-products .catalog-product__content__description {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
.page-products .catalog-product__content .button-long {
  margin-bottom: 5rem;
}
@media (max-width: 1366px) {
  .page-products .catalog-product__content .button-long {
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .page-products .catalog-product__content .button-long {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
.page-products .catalog-product__content__title-tare {
  max-width: 28.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 1366px) {
  .page-products .catalog-product__content__title-tare {
    font-size: 1.25rem;
    max-width: 17.85rem;
  }
}
@media (max-width: 1024px) {
  .page-products .catalog-product__content__title-tare {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .page-products .catalog-product__content__title-tare {
    font-size: 0.9rem;
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
.page-products .catalog-product__content__link {
  color: #20376D;
  text-decoration: underline;
  transition: 0.5s;
}
.page-products .catalog-product__content__link:hover {
  opacity: 0.4;
  transition: 0.5s;
}
.page-products .delivery {
  padding-bottom: 0;
}
@media (max-width: 1366px) {
  .page-products .delivery {
    padding-bottom: 5rem;
  }
}
@media (max-width: 1024px) {
  .page-products .delivery {
    padding-bottom: 11rem;
  }
}
@media (max-width: 576px) {
  .page-products .delivery {
    padding-bottom: 0;
  }
}
.page-products .quality__container {
  padding-bottom: 9rem;
}
@media (max-width: 1366px) {
  .page-products .quality__container {
    padding-bottom: 7rem;
  }
}
@media (max-width: 1024px) {
  .page-products .quality__container {
    padding-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .page-products .quality__container {
    padding-bottom: 0.5rem;
  }
}

.contact-form {
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1366px) {
  .contact-form {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.contact-form__icon {
  position: absolute;
  width: 0.7rem;
  height: 0.8rem;
}
@media (max-width: 1366px) {
  .contact-form__icon {
    width: 0.5rem;
    height: 0.55rem;
  }
}
@media (max-width: 576px) {
  .contact-form__icon {
    display: none;
  }
}
.contact-form__icon._lt {
  top: 2rem;
  left: 2rem;
}
@media (max-width: 1366px) {
  .contact-form__icon._lt {
    top: 1rem;
    left: 1rem;
  }
}
.contact-form__icon._rt {
  top: 2rem;
  right: 2rem;
}
@media (max-width: 1366px) {
  .contact-form__icon._rt {
    top: 1rem;
    right: 1rem;
  }
}
.contact-form__icon._rb {
  bottom: 2rem;
  right: 2rem;
}
@media (max-width: 1366px) {
  .contact-form__icon._rb {
    bottom: 1rem;
    right: 1rem;
  }
}
.contact-form__icon._lb {
  bottom: 2rem;
  left: 2rem;
}
@media (max-width: 1366px) {
  .contact-form__icon._lb {
    bottom: 1rem;
    left: 1rem;
  }
}
.contact-form__inner {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1366px) {
  .contact-form__inner {
    max-width: 42.5rem;
  }
}
@media (max-width: 1024px) {
  .contact-form__inner {
    max-width: 23.4rem;
  }
}
.contact-form__title {
  text-align: center;
  margin-bottom: 1.5rem;
}
@media (max-width: 1366px) {
  .contact-form__title {
    margin-bottom: 1rem;
  }
}
.contact-form__description {
  max-width: 22.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
@media (max-width: 1366px) {
  .contact-form__description {
    margin-bottom: 1.5rem;
  }
}
.contact-form .wpcf7 {
  width: 100%;
}
.contact-form .wpcf7 .contact-form__line {
  display: flex;
  gap: 0.5rem 0.5rem;
}
@media (max-width: 1366px) {
  .contact-form .wpcf7 .contact-form__line {
    gap: 0.25rem 0.25rem;
  }
}
@media (max-width: 1024px) {
  .contact-form .wpcf7 .contact-form__line {
    flex-direction: column;
  }
}
.contact-form .wpcf7 .contact-form__line__inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0.5rem;
  width: 100%;
}
@media (max-width: 1366px) {
  .contact-form .wpcf7 .contact-form__line__inner {
    gap: 0.25rem 0.25rem;
  }
}
.contact-form .wpcf7 .wpcf7-form-control-wrap {
  width: 100%;
}
.contact-form .wpcf7 textarea {
  resize: none;
  height: 10.5rem;
}
@media (max-width: 1366px) {
  .contact-form .wpcf7 textarea {
    height: 8.5rem;
  }
}
@media (max-width: 576px) {
  .contact-form .wpcf7 textarea {
    height: 7rem;
  }
}
@media (max-width: 576px) {
  .contact-form .wpcf7 .button-long {
    width: 100%;
  }
}
.contact-form__input {
  width: 100%;
  padding: 1.3rem 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(32, 55, 109, 0.2);
}
@media (max-width: 1366px) {
  .contact-form__input {
    padding: 0.8rem 1rem;
  }
}
.contact-form__input.wpcf7-not-valid {
  border: 1px solid #E91A1A;
  color: #E91A1A;
}
.contact-form__input.wpcf7-not-valid::placeholder {
  color: #E91A1A;
}
.contact-form .wpcf7-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem 0;
}
@media (max-width: 576px) {
  .contact-form .wpcf7-form {
    gap: 1rem 0;
  }
}
.contact-form .invalid .wpcf7-response-output {
  color: #E91A1A;
}
.contact-form .wpcf7-response-output {
  position: absolute;
  left: 0;
  bottom: 2rem;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-family: Inter Tight;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  color: #434244;
  letter-spacing: -0.03em;
}
@media (max-width: 576px) {
  .contact-form .wpcf7-response-output {
    font-size: 0.7rem;
  }
}

.wpcf7-not-valid-tip {
  display: none !important;
}

/*# sourceMappingURL=index.css.map */
